@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background-color:hsl(212, 45%, 89%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 300px;
    max-width: 350px;
    background: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

img{
    width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.attribution {
    font-size: 13px;
    text-align: center; 
    margin:10px 30px;
}

.title-card{
    font-family:'Outfit', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    color: hsl(218, 44%, 22%);
}

.text-card{
    font-family:'Outfit', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 15px;
    color: hsl(220, 15%, 55%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 12px;
}